.topnav {
    overflow: hidden;
    background-color:black;
    height: 70px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {


    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 40px;
    text-decoration:solid;
    font-size: 15px;
    font-style:normal;


  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: gray;
    color:black;    
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    height: 12px;
    float: right;
    padding: 6px;
    border:5px solid indigo;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .bg {
    background-image:url("naruto.jpg");
  }

  .login {
    background-color:indigo;
    border: 3px solid black;
    margin-left: 340px;
  }
  .signup {
    background-color:indigo;
    border: 3px solid black;
    /* margin-left: 30px; */
  }