#table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin-left: 100px;
    opacity: 0.80;
    background: transparent

    /* background-color:honeydew; */

    /* background: transparent; */
  }

  #table td, #table th {
    border: 10px solid black;
    padding: 15px;
    font-size: 20px;
    font-style: oblique;
    color:blue;
  }

  #table tr{
    background-color: #f2f2f2;

  }

  /* #table tr:nth-child(even){background-color: #f2f2f2;} */

  #table tr:hover {background-color:lightgrey;}

  #table th {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    background-color:cornflowerblue;
    color: black;
    font-size: 20px;
  }